
layout_pdm() {
    if ! command -v pdm >/dev/null 2>&1; then
        log_error "pdm is not installed"
        return 1
    fi
    VIRTUAL_ENV=$(pdm venv list | grep "in-project" | awk -F" " '{print $3}')

    if [ -z "$VIRTUAL_ENV" ] || [ ! -d "$VIRTUAL_ENV" ]; then
        #log_status "No virtual environment exists. Executing \`pdm lock\` to create a lockfile."
        #pdm lock
        log_status "Creating a virtual environment"
        pdm venv create python3.10
        log_status "Executing \`pdm sync\` to create a virtual environment and install dependencies."
        pdm sync
        VIRTUAL_ENV=$(pdm venv list | grep "in-project" | awk -F" " '{print $3}')
    fi

    #eval $(pdm venv activate in-project) 
    PATH_add "$VIRTUAL_ENV/bin"
    export PDM_ACTIVE=1
    export VIRTUAL_ENV
}

layout pdm
